<div id="container">
	<app-laser-cannon></app-laser-cannon>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
	<app-turret> </app-turret>
</div>